In [57]:
import pandas as pd

df = pd.read_csv('height_weight.csv')
df

      Gender     Weight      Height
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [58]:
#Converting categorical values to numerical values

d = {'Male':0,'Female':1}
df['Gender'] = df['Gender'].map(d)
df

      Gender     Weight      Height
0          0  73.847017  241.893563
1          0  68.781904  162.310473
2          0  74.110105  212.740856
3          0  71.730978  220.042470
4          0  69.881796  206.349801
...      ...        ...         ...
9995       1  66.172652  136.777454
9996       1  67.067155  170.867906
9997       1  63.867992  128.475319
9998       1  69.034243  163.852461
9999       1  61.944246  113.649103

[10000 rows x 3 columns]

In [59]:
from sklearn.model_selection import train_test_split
#X = df.drop('Gender',axis=1)
X=df[['Weight','Height']]
y = df['Gender']

X_test,X_train,y_test,y_train = train_test_split(X,y,test_size = 0.2,random_state = 156)

In [60]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [61]:
predictions = dtree.predict(X_test)
predictions

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [62]:
pred_new=dtree.predict([[66.172652,136.777454]]) # 0 = male , 1 = Female
pred_new

c:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [63]:
pred_new=dtree.predict([[78,190]])
pred_new

c:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)