In [1]:
a=60
b=5.6
c="Vishal"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
a,b,c = 4,5,"Vishal"
print((a))

4

In [3]:
a = b = c = 4
print(a)

4

In [4]:
x= 56
print(id(x))

140719927912968

In [5]:
a=3
b=4
print("values before swaping:""a =",a,"b =",b)
a,b = b,a
print("values after swaping:""a =",a,"b =",b)

values before swaping:a = 3 b = 4
values after swaping:a = 4 b = 3

In [6]:
a=3
b=4
print("values before swaping:""a =",a,"b =",b)
temp = a
a = b
b = temp
print("values after swaping:""a =",a,"b =",b)

values before swaping:a = 3 b = 4
values after swaping:a = 4 b = 3

In [7]:
len = 200
wth = 50
print("Area of municipal garden=",len*wth)
print("perimeter of municipal garden=",2*len + 2*wth)

Area of municipal garden= 10000
perimeter of municipal garden= 500

In [8]:
salary = 20000
hra = 10*20000/100
ta = 5*20000/100
tax = 2*20000/100
final_salary = salary+hra+ta-tax
print(final_salary)

22600.0

In [9]:
a="Python is a multi-paradigm programming language"
print(a[0:100])

Python is a multi-paradigm programming language

In [10]:
s1 = "India is my country "
s2 = "How are you"
print(s1*2 + s2)

India is my country India is my country How are you

In [11]:
"Today is Monday".upper()

'TODAY IS MONDAY'

In [3]:
strg = "Madam"
strg=strg.lower()
print
revg = reversed(strg)
print(revg)
if list(strg)==list(revg):
    print("String Madam is Palindrome")
else:
    print("String Madam is not Palindrome")

<reversed object at 0x000001E24BAE4670>
String Madam is Palindrome

In [13]:
s="Madam"
s=s.lower()
rev=reversed(s)
if list(s)==list(rev):
    print("True")
else:
    print("False")

True

In [14]:
a=6
print(id(a))

140719927911368

In [15]:
a = 2;b = 3
print("The value of a:{} and b:{}".format(a,b))   #default value

The value of a:2 and b:3

In [16]:
a = 2;b = 3
print("The value of a:{1} and b:{0}".format(a,b))   #specify position

The value of a:3 and b:2

In [20]:
print("my name is {0} of dept {1}".format('vishal','AIDS'))

my name is vishal of dept AIDS

In [1]:
d = int(input("Enter the value of a:"))
print(d)

10

In [3]:
fg=input("Enter your name:")
print(fg)

don

In [8]:
Age=int(input("Enter ur age:"))
print(Age)

12

In [23]:
a = input("Enter your name")
print("hello {name},{greet}".format(name=a,greet='How are you?'))

hello Vishal,How are you?

In [28]:
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
c = a*b
print("{}x{}={}".format(a,b,c))

2x3=6

In [29]:
a = 20
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b)            #Arithmetic Operators
print(a%b)
print(a//b)
print(a**b)

30
10
200
2.0
0
2
10240000000000

In [31]:
a = 25
b = 45                  #Comparison Operator
print(a<=b)
print(a>=b)

True
False

In [32]:
a = True
b = True
print(a and b)

True

In [39]:
a = 60
b = 13
print(a&b)

12

In [44]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
print("{} + {} = ".format(a,b),a+b)
print("{} - {} = ".format(a,b),a-b)
print("{} x {} = ".format(a,b),a*b)
print("{} / {} = ".format(a,b),a/b)

87 + 23 =  110
87 - 23 =  64
87 x 23 =  2001
87 / 23 =  3.782608695652174

In [46]:
a=3
b=3
print(a!=b)

False

In [52]:
num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))
num3 = int(input("Enter num3:"))

if(num1>=num2 and num1>=num3):
    if(num2>=num3):
        print("num 1 is greatest no. as {}>{}>{}".format(num1,num2,num3))
    else:
        print("num 2 is greatest no. as {}>{}>{}".format(num1,num3,num2))
elif(num2>=num1 and num2>=num3):
    if(num1>=num3):
        print("num 2 is greatest no. as {}>{}>{}".format(num2,num1,num3))
    else:
        print("num 2 is greatest no. as {}>{}>{}".format(num2,num3,num1))
else:
    if(num1>=num2):
        print("num 2 is greatest no. as {}>{}>{}".format(num3,num1,num2))
    else:
        print("num 2 is greatest no. as {}>{}>{}".format(num3,num2,num1))

num 1 is greatest no. as 23>15>13

In [55]:
'''
Python Program to check whether a person is eligible to
vote or not.
'''

age = int(input("Please Enter your Age:"))

if age<18:
    print("Ooops!! Sorry your not eligible to vote age is below 18 ")
else:
    print("yeahh!! you are eligible to vote")

yeahh!! you are eligible to vote

In [58]:
a = int(input("Enter the no."))

if a%2==0:
    print("{} is even no.".format(a))
else:
    print("{} is odd no.".format(a))

45 is odd no.

In [24]:
amt = int(input("Enter sale price:"))

discount = b*a/100   #discount amount
famt = a-discount    #final amount

def disc():
    print("You get {}% dicount of Rs {} on purchase of {}".format(b,discount,amt))
    print("Your discounted sale price is:",famt)
    print("----Have nice day keep shooping in our shop!!!----")
    
if(amt>0):
    if(2000<=amt<5000):
        b=5                  # b is % of dicount
        discount = b*amt/100
        famt = amt-discount
        disc()
    
    elif(5000<=amt<10000):
        b=10
        discount = b*amt/100
        famt = amt-discount
        disc()
        
    elif(10000<=amt<20000):
        b=15
        discount = b*amt/100
        famt = amt-discount
        disc()
    
    elif(20000<=amt<=30000):
        b=20
        discount = b*amt/100
        famt = amt-discount
        disc()
        
else:
    print("You enter invalid amount")

You get 20% dicount of Rs 5000.0 on purchase of 25000
Your discounted sale price is: 20000.0
----Have nice day keep shooping in our shop!!!----

In [19]:
list1 = [10,20,30,40,60]

product = 1
index = 0

while index < len(list1):
    product = product*list1[index]
    index = index + 1
    
print("Product of 10x20x30x40x50=",product)

Product of 10x20x30x40x50= 14400000

In [15]:
list1 = [10, 20, 30, 40, 60]

product = 1
index = 0

while index < len(list1):
    product *= list1[index]
    index += 1
    
print("Product is:",product)

Product is: 14400000

In [23]:
n = int(input("Enter the no of elements in list:"))
list = []
index = 0

for i in range(0,n):
    index=index+1
    ele=int(input("Enter {} no:".format(index)))
    list.append(ele)
print(list)

[3, 6, 4, 8, 9]

In [27]:
numbers=[20,30,40,50]

print("The no of elements in list=",len(numbers))
index = 0

while index < len(numbers):
    print(numbers[index])
    index = index + 1

else:
    print("Out of range")

The no of elements in list= 4
20
30
40
50
Out of range

In [29]:
a = int(input("Enter the no:"))
c = 1**3 + 5**3+ 3**3
print(c)

153

In [27]:
n = int(input("Enter the no of digit:"))
num = int(input("Enter the no:"))

sum = 0
temp = num

while temp>0:
    digit = temp%10
    sum = sum + digit**n
    temp = temp//10

if num==sum:
    print("{} is Armstrong no".format(num))
else:
    print("{} is not Armstrong no".format(num))

153 is Armstrong no

In [26]:
num = int(input("Enter the no:"))

rev = 0
temp = num

while temp>0:
    digit = temp%10
    rev = rev*10 + digit 
    temp = temp//10
    
if num == rev:
    print("{} is a palindrome".format(num))
else:
    print("{} is not a palindrome".format(num))

3 is a palindrome

In [60]:
lst = [1,2,3]
list = ['one','two','three',40,50,60]
lst.append(10)
print(lst)
lst.insert(2,20)
print(lst)
lst.remove(2)
print(lst)
lst.insert(2,'three')
print(lst)
'''lst.append(list)
print(lst)'''
del lst[2]
print(lst)

a=lst.pop(2)
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)

if 20 in lst:
    print(True)
else:
    print(error)
    
s = "hi I am Vishal"
spit_lst = s.split()
print(spit_lst)
print(spit_lst[3])
print(list[0:2])
new = lst + list
print(new)

[1, 2, 3, 10]
[1, 2, 20, 3, 10]
[1, 20, 3, 10]
[1, 20, 'three', 3, 10]
[1, 20, 3, 10]
[1, 20, 10]
[1, 10, 20]
[20, 10, 1]
True
['hi', 'I', 'am', 'Vishal']
Vishal
['one', 'two']
[20, 10, 1, 'one', 'two', 'three', 40, 50, 60]

In [61]:
list = [10,20,30,40,64,34,18,8]

for ele in list:
    print(ele)

10
20
30
40
64
34
18
8

In [65]:
n = int(input("Enter no of element:"))
square = []

for i in range(n):
    ele = int(input("Enter element:"))
    square.append(ele*ele)
print(square)

[1, 4, 9, 16, 25]

In [73]:

list = [(i,i*i) for i in range(11)]
print(list)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [11]:
list = []
product = 1

n = int(input("Enter the no of elements in list:"))

for i in range(n):
    i = 0
    i=int(input("Enter the elements in list:"))
    list.append(i)
print(list)

for i in list:
    product=product*i

print("Product of 10x20x30x40x50 =",product)

[10, 20, 30, 40, 50]
Product of 10x20x30x40x50 = 12000000

In [13]:
list = ['a','b','c','d']
for ele in list:
    print(ele)

a
b
c
d

In [19]:
fruits = []

n = int(input("Enter the no elements:"))

for i in range(n):
    i = 0
    i = input("Enter the name of fruits")
    fruits.append(i)
print(fruits)

['apple', 'mango', 'banana', 'cherry']

In [20]:
'''Write a Python Program to Display the multiplication Table of 4'''

for i in range(10):
    i = i+1
    product = 4*i
    print("{}x{}={}".format(4,i,product))

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

In [21]:
'''
Python program to illustrate l = ["Good","Bad","Better"] print
each string using for loop
'''

l = ["Good","Bad","Better"]

for ele in l:
    print(ele)

Good
Bad
Better

In [32]:
'''1) Write the python program to perform following operation on given tuple
t = (23,'kiran',23.98,'mumbai','kaveri','krishna')
1)print last element in a tuple
2)print elements from starting to 4 th negative elements
3)print elements from starting to end
'''
t = (23,'kiran',23.98,'mumbai','kaveri','krishna')
print(t[-1])
print(t[:-4])
print(t[:])

krishna
(23, 'kiran')
(23, 'kiran', 23.98, 'mumbai', 'kaveri', 'krishna')

In [28]:
'''ArithmeticErrorWrite the python program to get the largest no, smallest no ,sum
of given tuple
t = (11,56,34,90,78,54,89,54,445,0,56,34,12,32)
'''
t = (11,56,34,90,78,54,89,54,445,0,56,34,12,32)
print("largest no is:",max(t))
print("smallest no is:",min(t))
print("sum is:",sum(t))

largest no is: 445
smallest no is: 0
sum is: 1045

In [38]:
'''Write the python program to print length of tuple and then
delete entire tuple
a = (101,165,167,'priya',23.12,'ganesh',(12,'disha','nisha'))
'''

a = (101,165,167,'priya',23.12,'ganesh',(12,'disha','nisha'))
print("lenght of tuple a is:",len(a))
del a

lenght of tuple a is: 7

In [39]:
def f(x):
    return x+3,x*2
x,y = f(5)
print(x+y)

18

In [45]:
q = 10
def q1(x):
    q = 6*x+1
    return q
q = q1(8)

In [46]:
abc = 7+12//24
print(abc)

7

In [48]:
def = 5+6%7
    print(d)

SyntaxError: invalid syntax (1628330615.py, line 1)

In [49]:
my_fun = "hey"

def my_fun():
    print("hiii")
my_fun()

hiii

In [53]:
def get_input():
    x = float(input("Enter the no:"))
    return x

def main():
    get_input()
    print(x**2)
main()

64

In [54]:
def get_input():
    x = float(input("Enter the no:"))
    return x

def main():
    get_input()
    print(x**2)
main()

64

In [20]:
dict = {'name':'Vishal','age':18,'address':'Sinnar'}
dict['age'] = 21
dict.pop('name')
del dict['address']
print(dict)

{'age': 21}

In [21]:
M = {1: 1, 2: 12, 3: 63, 4: 84}
c= M.copy()
print(c)

{1: 1, 2: 12, 3: 63, 4: 84}

In [22]:
d = {'a':11,'b':20,'c':13,'d':14,'e':66}
new_dict = {k:v for k,v in d.items() if v>10}
print(new_dict)

{'a': 11, 'b': 20, 'c': 13, 'd': 14, 'e': 66}