In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [12]:
df = pd.read_csv('Linear-Regression-work-salary.csv')
df

      Salary  WorkExperience
0     63.615              44
1    318.378             230
2    169.841              97
3    120.629              39
4    301.733             216
..       ...             ...
223  185.690             119
224  334.122             233
225  296.912             213
226  293.243             200
227  222.581             155

[228 rows x 2 columns]

In [13]:
df.isnull().sum()

Salary            0
WorkExperience    0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Salary          228 non-null    float64
 1   WorkExperience  228 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.7 KB

In [15]:
df.describe()

           Salary  WorkExperience
count  228.000000      228.000000
mean   202.606346      131.504386
std     81.715074       62.790786
min     32.277000       24.000000
25%    139.086250       77.750000
50%    199.262000      131.500000
75%    272.659750      185.250000
max    363.466000      240.000000

In [28]:
X = df.drop('Salary',axis = 1)
y = df['Salary']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [29]:
result = LinearRegression()
result.fit(X_train,y_train)

LinearRegression()

In [30]:
predictions = result.predict(X_test)
predictions

array([227.23289191, 143.87290397,  91.15997042, 211.29642363,
        89.93408825, 102.19291   , 302.01170462, 134.06584657,
       183.10113359, 335.11052335, 140.19525745, 145.09878615,
       105.87055653, 164.71290096, 189.23054447, 267.6870037 ,
       163.48701878, 228.45877408, 111.99996741, 254.20229977,
       190.45642664,  99.74114565, 234.58818496,  80.12703084,
       333.88464118, 305.68935114, 304.46346897, 197.8117197 ,
       146.32466832, 158.58349008,  97.2893813 , 123.03290699,
        73.99761997, 153.67996138, 212.5223058 , 233.36230279,
       283.62347198, 331.43287683, 310.59287984,  81.35291302,
       214.97407015, 216.19995233, 185.55289794, 175.74584054,
       261.55759282, 241.94347801])

In [31]:
r2 = r2_score(y_test,predictions)
r2

0.9040613171339513

In [34]:
pred = result.predict([[63.615]])
pred

c:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([120.109178])